<head>
  <link href="{{ url_for('static',filename='style/homepage.css') }}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<div class="container-fluid mx-auto">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col mb-5">
      <a class="navbar-brand mb-0 h1">Get Your UBC Course</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-primary m-2" href="#" role="button">Home</a>
          <a class="btn btn-primary m-2 disabled" href="#" role="button">Premium</a>
        </div>
      </div>
      <p class="badge badge-primary m-2 mr-5 p-2 font-weight-bold">Seats Found: {{seats}} </p>
      <p class="badge badge-primary m-2 mr-5 p-2 font-weight-bold">Courses Being Tracked: {{courses}} </p>
    </nav>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-signin ml-auto mt-5 mb-5 col-lg-6">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">📋 Course Request Form 📋</h5>
          <form class="form-signin mt-5 mb-5" method="post" novalidate>
            {{ crform.hidden_tag() }}
            <div class="form-label-group">
              {{crform.email(class="form-control", placeholder="Email")}}
              {{crform.email.label}}
            </div>

            <div class="form-label-group">
              {{crform.department(class="form-control", placeholder="Course Department")}}
              {{crform.department.label}}
            </div>

            <div class="form-label-group">
              {{crform.course(class="form-control", placeholder="Course Number")}}
              {{crform.course.label}}
            </div>

            <div class="form-label-group">
              {{crform.section(class="form-control", placeholder="Course Section")}}
              {{crform.section.label}}
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="submit" value="register">Register</button>
          </form>
          <div class="row align-items-center" id="alertmsg">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if "register" == category[1] %}
                    <div class="alert text-center alert-{{ category[0] }} mx-auto p-2" role="alert">
                      {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card card-signin mr-auto mt-5 col-lg-6">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">💬 Information 💬</h5>
          <p class="text-center"> Hey buddy! Need to get into your highly contested course but the seats are full as usual? Add your course using the form! </p>
          <p class="text-center"> Your course requests are polled every 10 minutes to help you find a seat! Sit back, relax, and make sure your email notifications are on 😉</p>
        </div>
      </div>

      <div class="card card-signin mr-auto mt-4 mb-5 col-lg-6">
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">❌ Remove Your Request Here ❌</h5>
          <p class="text-center"> Input your Request ID from your course request email to remove it from the system. </p>
          <form class="form-signin" method="post" novalidate>
            {{ rrform.hidden_tag() }}
            
            <div class="form-label-group">
              {{rrform.id(class="form-control", placeholder="Reference ID")}}
              {{rrform.id.label}}
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="submit" value="deregister">Deregister</button>
          </form>
          <div class="row align-items-center" id="alertmsg">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if "deregister" == category[1] %}
                    <div class="alert text-center alert-{{ category[0] }} mx-auto p-2" role="alert">
                      {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

